<div class="home-page-container">
  <div class="home-title">
    <h1 class="bienvenue">BIENVENUE SUR</h1>
    <h1 class="yumyssime">yumyssime.</h1>
  </div>
  <div class="home-illustration-container">
  </div>
  <div class="home-button-container">
    <a href="#" class="primary-button">S'INSCRIRE</a>
    <a href="#" class="secondary-button">SE CONNECTER</a>
  </div>
  <p>Le concept</p>
</div>
