.primary-button {
  background-color: white;
  color: $orange-brown;
  padding: 10px 40px;
  border: 1px solid $orange-brown;
  border-radius: 25px;
  min-width: 325px;
  text-align: center;
  text-decoration: none;
  font-size: 20px;
  box-shadow: 0px 5px 10px 0px $orange-brown;
  margin: 15px 0px
  &:hover {
    color: $orange-brown;
    padding: 12px 40px;
  }
}

.secondary-button {
  background-color: $orange;
  color: white;
  padding: 10px 40px;
  border-radius: 25px;
  min-width: 225px;
  text-align: center;
  text-decoration: none;
  font-size: 20px;
  box-shadow: 0px 5px 10px 0px $orange-brown;
  margin: 15px 0px;
  &:hover {
    color: white;
    padding: 12px 40px;
  }
}
